*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url(Neurological\ dissease\ pic5.jpg);
    font-family: 'Times New Roman', Times, serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: border-box;
    color: rgb(255, 255, 255);
}

.ALD{
    justify-content: center;
    align-items: center;
    min-width: 110vh;
    min-height: 100%;
    background-color: rgb(0, 0, 0,0.4);
    height: 100%;
    width: 100%;
}

.navigator{
    height: 80px;
    width: 100%;
    justify-items: center;
    align-content: center;
    background: transparent;
}

.maincolumn{
    justify-items: center;
    margin: 15px 70px;
    display: none;
}

.active{
    display: block;
}

.maincolumn h2{
    color: rgb(255, 255, 255);
}

.maincolumn .aboutdisease{
    margin-top: 15px;
    line-height: 27px;
    width: 57%;
    justify-self: center;
    font-weight: 600;
    font-size: 18px;
    text-align: justify;
}

.maincolumn table{
    margin-top: 20px;
    border-collapse: collapse;
}

table, th{
    font-size: 20px;
    border: 1px solid rgb(255, 246, 246);
    padding: 15px;
    text-align: center;
}

table, td{
    border: 1px solid rgb(242, 242, 242);
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

table, ul{
    margin: 0;
    padding-left: 15px;
}

table, ul, li{
    list-style-type:decimal;

}
