*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background: url(Neurological\ dissease\ pic2.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*----------- REGISTER SLIDE-----------*/

.form-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 512px;
    height: 420px;
    z-index: 2;
}

.register-box{
    position: absolute;
    right: -500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.top span{
    color: rgb(255, 255, 255);
    font-size: medium;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.top span a{
    font-weight: 500;
    color: white;
    margin-left: 5px;
}

header{
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
    font-weight: 600;
}

.two-form{
    display: flex;
    gap: 10px;
}

.input-text{
    font-size: 15px;
    background:transparent;
    color: rgb(241, 241, 241);
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: 1px solid white;
    border-radius: 20px;
    outline: none;
    transition: .2s ease;
    cursor: pointer;
    font-weight: 600;
}

.input-text:hover, .input-text:focus-visible{
    background-color: rgba(255,255,255,0.4);
}

::-webkit-input-placeholder{
    color: rgb(255, 255, 255);
}

.input-box i{
    position: relative;
    color: rgb(0, 0, 0);
    top: -33px;
    left: 17px;
}

.submit{
    height: 40px;
    width: 100%;
    color: rgb(253, 248, 248);
    font-weight: 600;
    font-size: 17px;
    border: none;
    border-radius: 30px;
    background: rgba(217, 215, 215, 0.221);
    cursor: pointer;
    transition: .1s ease-in-out;
}

.submit:hover{
    background: rgba(145, 145, 145, 0.222);
}

.checkbox{
    display: flex;
    color: white;
    font-size: small;
    margin-top: 10px;
    justify-content: space-between;
}

/*------------- LOGIN SLIDE ---------*/

.login-box{
    position: absolute;
    left: 5px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.forget .forget-pass{
    color: white;
    text-decoration: none;
    font-size: small;
    font-weight: 500;
}

.forget .forget-pass:hover{
    text-decoration: underline;
}


@media only screen and (max-width:540px){
    .form-box{
        min-height: 100vh;
        height: 500px;
        width: 100%;
    }
    .register-box, .login-box{
        width: 100%;
        padding: 0 25px;
    }
    .register-box .two-form{
        flex-direction: column;
        gap: 0;
    }
}