*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background: url(Neurological\ dissease\ pic2.jpg) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

    /* REGISTER */

.form-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 420px;
    overflow: hidden;
    z-index: 2;
}

.register-box{
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.top span{
    color: white;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.top span a{
    font-weight: 500;
    color: white;
    margin-left: 5px;
}

header{
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

.two-form{
    display: flex;
    gap: 10px;
}

.input-text{
    font-size: 15px;
    background: rgba(255,255,255,0.2);
    color: white;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: 1px solid white;
    border-radius: 20px;
    outline: none;
    transition: .2s ease;
}

::-webkit-input-placeholder{
    color: white;

}

    /* LOGIN */

/* .mainlogin{
    width: 450px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 13px;
    padding: 30px 40px;
}


.mainlogin h2{
    font-size: 35px;
    text-align: center;
} 

.mainlogin .input-box{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 28px 0;
}

.input-box input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    border: 2px solid rgb(251, 251, 255);
    border-radius: 30px;
    padding: 20px 35px 20px 20px;
    font-size: 16px;
}
.input-box input::placeholder{
    color: rgb(255, 254, 254);
}

.input-box img{
    position: absolute;
    right: 13px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}

.mainlogin .remember{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}

.remember label input{
    accent-color: rgb(255, 255, 255);
    margin-right: 2px;
}

.remember a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 550;
}

.remember a:hover{
    text-decoration: underline;
}

.mainlogin .btn{
    position: relative;
    width: 100%;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    border-radius: 40px;
    font-size: 17px;
    cursor: pointer;
    color: rgb(244, 244, 244);
    font-weight: 600;
    }
     */
