body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    background-color: rgb(0, 0, 0);
}

.navbar{
    /* position: fixed; */
    background-color: rgb(247, 184, 108);
    height: 60px;
    width: 100%;
    display: flex;
    /* justify-content: space-evenly; */
}

.barlogo{
    align-self: center;
    height: 35px;
    width: 35px;
    margin-left: 20px;
}

.logo{
    background-image: url("bars-solid.svg");
    height: 30px;
    width: 30px;
    justify-self: center;
    /* margin-left:3px ; */
    background-size: cover;
}

.barlogo:hover{
    border:1.5px solid black
}

.searchbar{
    /* position: fixed; */
    display: flex;
    align-content: center;
    margin-top: 15px;
    margin-left: 420px;
}

.search{
    height: 30px;
    width: 400px;
    border: 1.5px black solid;
    border-radius: 10px;
    font-size:large;
}

.searchlogo{
    background-image: url("search.svg");
    height: 25px;
    width: 25px;
    margin-left: 2px;
}

.searchlogo:hover{
    border:2px solid black
}

.user{
    display: flex;
    height: 30px;
    align-items: center;
    margin-left: 20%;
    margin-top: 15px;
    cursor: pointer;
}

.userlogo{
    background-image: url("user-solid.svg");
    background-size: cover;
    height: 25px;
    width: 25px;
}

.loginpara{
    margin-left: 5px;
    font-size: larger;
}

.content{
    /* position:static; */
    height: 1000px;
    /* width: 100%; */
    /* margin-top: 60px; */
    justify-items: center;
    background-image: linear-gradient(rgb(244, 163, 70) 10%,rgba(247, 20, 20, 0.875) 90%);
}

.bio{
    /* background-color: rgb(239, 187, 120); */
    height: 250px;
    width: 700px;
    /* margin-left: 12%; */
    /* margin-top: 12%; */
    /* justify-content: center; */
    border: 1px transparent;
} 

.heading{
    margin-top: 3px;
    justify-self: center;
}

.para{
    height: 200px;
    width: 500px;
    margin-left: 15%;
    margin-top:2%;
    /* align-items: center; */
    /* justify-content: center; */
}

.menu{
    height: 700px;
    width: 800px;
    background-color: rgb(247, 191, 131);
    margin-top: 10px;
    border: 1.5px solid black;
    /* display: flex; */
}

.alphaorder ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 9px;
    /* border: 1px solid black; */
}
.alphaorder ul li{
    margin-top: 3px;
    list-style: none;
    background-color: rgb(250, 131, 67);
    color: black;
    padding: 7px 25px;
    /* min-width: 15px; */
    text-align: center;align-items: center;
    font-weight: 500;
    border-radius: 5px;
}

.alphaorder ul li:hover{
    cursor: pointer;
    font-weight: 700;
    background-color: rgb(249, 114, 41);
}

.menulist{
    height: 558px;
    margin-top: 5px;
    font-weight: 700;
    color: #000;
    padding: 5px 15px 2px;
    background: rgb(247, 191, 131);
    font-family: 'Open Sans', sans-serif;
    /* border: 2.5px solid black; */
}

.alpha{
    height: 20px;
    background: #fcab41eb;
    font-weight: 700;
    color: #000;
    padding: 5px 15px 2px;
    font-family: 'Open Sans', sans-serif;
    border: 1.5px solid black;
}


.listalpha{
    background-color: rgb(252, 184, 112);
    height: 500px;
    border: 0.5px solid black;
}